<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fetch LinkedIn User Data</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <h1>Fetch LinkedIn User Data</h1>
    <p>
      Fetching user data may take some time depending on user profile size.
      After gathering user data, you will get access to data in 3 modes: Raw
      Data, JSON, View on Web.
    </p>
    <form id="fetch-form">
      <label for="username">Enter username of LinkedIn user:</label>
      <input type="text" id="username" name="username" required />
      <br />
      <input type="checkbox" id="use-cache" name="use-cache" checked />
      <label for="use-cache">Use cache</label>
      <br />
      <button type="submit">Fetch</button>
    </form>
    <div id="progress"></div>
    <div id="result"></div>
    <button id="raw-data" disabled>Raw Data</button>
    <button id="download-json" disabled>Download JSON</button>
    <button id="view-web" disabled>View on Web</button>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
